language: node_js

node_js:
  - "node"

cache:
  directories:
    - "/home/travis/.npm/"

install:
  - npm ci
  - npm install -g codecov

script:
    - npm run build
    - npm run test
    - npm run coverage && codecov